<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h1 id="title">WellLogView</h1>
  </div>
</nav>


<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Log Display</a></li>
        <li><a href="#tab2">Display Settings</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab1" class="tab active">
        
        </div>
 
        <div id="tab2" class="tab">
            <p>Change the Display Settings Here</p>  
        </div>
    </div>
</div>
<script>
    var welldata = <%= @current_well_welldata %>;
</script>
<script src="/javascript/plot_settings.js"></script>
