<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h1 id="title">WellLogView</h1>
  </div>
</nav>
<br>
<div id="intro">
  <h3> This application provides a depth plot of digital well log data stored in Log Ascii Standard (LAS) format (versions 1.2 and 2).</h3> 

  <h3>Provide either a url or upload a file below. When you click "Submit Link" (for url upload) or "Upload File" (for file upload) a new layout with two tabs "Display Settings" and "Log Display" will appear.</h3>

  <h3>In the "Display Settings" tabbed view, some of the curves in your LAS file will be pre-selected with default properties (display track, scale type, line color, line style and the display range). You may modify these settings as you deem appropriate. When you click the "Make Plot" button, view the display in the "Log Display" tab.</h3>   
</div>

<br><br>
<div class="data_submit">
  <h2>Submit a url or upload a file</h2><br>

  <form method="post" action="/save_file" id="urlinput" name="urlinput" onsubmit="return validateForm()">
    <input id="url_input_box" type="text" name="url" placeholder="Provide a url"><br><br>
    <input type="submit" value="Submit Link">
  </form>

  <h2>OR</h2>

  <form action="/save_file" method="POST" enctype="multipart/form-data" name="fileinput" onsubmit="return validateForm2()">
      <input type="file" name="file"><br><br>
      <input type="submit" value="Upload File">
  </form>
</div>

<script type="text/javascript">
  function validateForm() {
    var x = document.forms["urlinput"]["url"].value;
      if (x == null || x == "") {
          alert("url must be provided");
          return false;
      }
  }  
</script>

<script type="text/javascript">
  function validateForm2() {
    var x = document.forms["fileinput"]["file"].value;
      if (x == null || x == "") {
          alert("file must be provided");
          return false;
      }
  }  
</script>