<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h1 id="title">WellLogView</h1>
  </div>
</nav>

<h2>Submit a url or upload a file</h2>

<div class="data_submit">
  <form method="get" action="/display" id="urlinput">
    <input type="text" name="url" placeholder="Provide a url"><br><br>
    <input type="submit" value="Submit Link">
  </form>

  <h2>OR</h2>

  <form action="/save_file" method="POST" enctype="multipart/form-data">
      <input type="file" name="file"><br><br>
      <input type="submit" value="Upload File">
  </form>
</div>
